/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Bungee');

a {
    text-decoration: none;
    color: black;
}

/* => Body */

body {
    background-color: grey;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background-image: url(dzdqzdq.png);
    background-size: cover;
    background-attachment: fixed;
}


/* => Header */

header {
}

.logo-link {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    grid-column: 2;
    width: 100%;
    max-width: 350px;
    margin: auto;
    margin-top: 7px;
    display: inline-block;
}

/* => Navigatie */

nav a{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    color: #c1272f;
    text-decoration: none;
    text-shadow: 2px 2px white;
    background-image: url(Images/back.jpg);
    background-size: cover;

}
nav {
    display: grid;
    color: #c1272f;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0,0,0, 0.4);
    padding: 0px 3px 3px 3px;
    grid-gap: 3px;
}

/* AANDUIDING Actieve Pagina */

.page-active {
    border-bottom: 2px #c1272f solid;
    padding-bottom: 8px;
}

/* => Main */

main {
    background-color: rgba(0,0,0, 0.4);
    padding: 3px;
    margin-bottom: 32px;
}

/* INDEX */

.index-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
}

.index-main div {
    background-color: white;
    width: 100%;
}

#uitleg {
    padding: 5%;
    width: 90%;
    line-height: 22px;
    
}


h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.index-main div a {
    display: block;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 10px;
    color: white;
}

.index-main div a span:hover {
    text-decoration: underline;
}

#home-WD {
    background-image: url(wolf.PNG);
    background-size: cover;
    background-position: center;
}

#home-GO {
    background-image: url(Images/Speciaal+Schijfkopie.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#home-LD {
    background-image: url(Images/FlyerStartAct1718-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#home-C4D {
    background-image: url(Images/low-poly-planet.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#home-more{
    height: 30px;
}

#home-more a {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    line-height: 20px;
    align-self: right;
    background-color: #c1272f;
}

/* PORTFOLIO */

.portf-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
}

.portf-main div {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Portefolio navigatie */

.portf-main-nav {
    display: grid;
    line-height: 10px;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 40px;
    margin-bottom: 1px;
    }

.portf-main-nav a {
    padding-bottom: 11px;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
    padding-top: 11px;
    color: white;
    border-left: 1px solid white;
    font-weight: bold;
    background-color: #c1272f;

}
.portf-main-nav a:first-child {
    font-size: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 30px 0px 0px 0px;
}

.portf-main-nav a:hover {
    background-color: white;
    color: darkred;
    
}

.portf-main-nav-a {
    color: rgba(0,0,0, 0.2);
}

.portf-main-nav a:nth-child(3), .portf-main-nav a:nth-child(5) {
    border-right: 1px solid white;
} 

/* -- > Portfolio Items */

.portf-item {
    height: 300px;
    width: 100%;
    justify-content: center;
}

.portf-item a {
    background-color: white;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 4px;
    font-weight: bold;
    border-left: 2px solid #c1272f;
}

.portf-item::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

.portf-item:hover .portf-item:before,
.portf-item:focus .portf-item:before {
  display: block;
}

.portf-item:hover, .portf-item:focus{
    transform: scale(1.03);
    transition: all 1s;
}

.portf-item:hover .portf-titels {
    text-decoration: underline;
}


/* BERT ZELF */

.bert-main {
    background-color: rgba(0,0,0, 0.4);
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
}

.bert-main div {
    background-color: white;
}

#klj-groot {
    background-image: url(Images/Bert-Zelf/20507092_1348825748561189_2968779486137600971_o.jpg);
    height: 0px;
    background-size: cover;
    background-position: center;
}

#hoofdfoto {
    background-image: url(Images/Bert-Zelf/22154263_10209448398948412_1378984648769740743_n.jpg);
    background-size: cover;
    background-position: top;
}

#comedy-groot {
    background-image: url(Images/Bert-Zelf/comedy.PNG);
    height: 0px;
    background-size: cover;
    background-position: center;
}

#bert-text {
    padding: 20px;
    line-height: 22px;
}

    #klj-klein {
        background-image: url(Images/Bert-Zelf/20449109_1348829871894110_3764539753249909998_o.jpg);
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    
    #comedy-klein {
        height: 300px;
        background-image: url(Images/Bert-Zelf/13726794_10206132959824506_5916646969768274667_n.jpg);
        background-size: cover;
        background-position: right;
    }

/* CONTACT */

#txtContact {
    background-color: white;
    height: 250px;
    padding-top: 80px;
    text-align: center;
    line-height: 30px;
}

#txtContact h1 {
    font-size: 30px;
    margin-bottom: 30px;
}


/* => Footer */

footer {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    background-image: url(Images/back.jpg);
    background-size: cover;
    position: fixed;
    bottom: 0px;
}

footer div {
    height: 15px;
    margin: auto;
    max-width: 300px;
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 7px 10% 7px 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

footer p {
    text-align: center;
}


/*  Non-Mobile  */

@media screen and (min-width:560px) {
    nav a {
        font-size: 25px;
    }
    nav a:hover {
        border-bottom: 3px solid #c1272f;
        padding-bottom: 7px;
    }
    
    /* INDEX */
    
    .index-main {
        padding: 5px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    
    #uitleg {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 3%;
        width: 94%;
    }
    
    .index-main div {
    }
    
    .index-main div a {
        font-size: 23px;
        padding-top: 150px;
        padding-bottom: 20px;
    }
    
    #home-more {
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    #home-more a {
    padding-top: 10px;
    font-size: 18px;
    padding-bottom: 10px;
    }
    
    
    .index-main div a:hover {
        background-color: rgba(0,0,0,0.1);
    }
    
    /* PORTFOLIO */
    
    .portf-main {
        grid-template-columns: 1fr 1fr;
    }
    
    .portf-main-nav {
    grid-column-start: 1;
    grid-column-end: 3;
        grid-template-columns: 70px 1fr 1fr 1fr 1fr;
    }
    
    .portf-main-nav a:first-child {
    font-size: 50px;
    height: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
        padding: 10px;
    }
    
    .portf-main-nav a {
    padding-top: 15px;
    }
    
    .portf-main-nav a:nth-child(3) {
    border-right: 0px solid white;
} 
    
    .portf-main-nav a:nth-child(5) {
    border-right: 1px solid white;
    } 
    
    /* BERT ZELF */
    .bert-main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #klj-groot, #comedy-groot {
        height: 300px;
    }
    
    #klj-groot {
        
    }
    
    #comedy-groot {
    
    }
    
    #bert-text {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    #klj-klein {
        height: 450px;
        background-size: cover;
        background-position: center;
        grid-column-start: 1;
        grid-column-end: 3;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0);
    }
    
    #comedy-klein {
        height: 450px;
    }
    
    #hoofdfoto {
        width:100%; 
        height: 300px;
    }
    
    /* FOOTER */
    
    footer div p a:hover {
        text-decoration: underline;
    }
}


/* Bigger Screen */

@media screen and (min-width:850px) {
    .logo {
        grid-column: 1;
    }
    
    
    /* INDEX */
    
    .index-main div {
    }
    
    .index-main div a {
        padding-top: 300px;
    }
    
    #uitleg h1 {
        font-size: 30px;
    }
    
    /* PORTFOLIO */
    
    .portf-main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .portf-main-nav {
    grid-column-start: 1;
    grid-column-end: 4;
    }
    
}