body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    max-width: 600px;
    margin: auto;
}

nav {
    background-color: whitesmoke;
    line-height: 35px;
    word-spacing: 20px;
    text-align: center;
}

a {
    color: darkred;
    font-weight: 1000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    padding: 10px; 
    color: white;
    background-color: darkred;
    font-size: 30px;
    height: 40px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0px;
}


h2 {
    font-size: 30px;
    font-weight: 800;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    text-align: center;
}


img {
    width: 100%;
    margin-bottom: 0px;
}

h3{
    margin-bottom: 5px;
    padding: 1%;
    background-color: darkred;
    font-size: 24px;
    color: white;
    padding-left: 10px;
}

p {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#author {
    text-align: right;
    
}