<!doctype html>
<html>
    <head>
        
        <title>Bert Paulussen</title>
        <link rel="shortcut icon" href="bertp-mini.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body>

        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html">Portfolio
                </a>
            <a href="bertzelf.html" class="page-active">Bert zelf
                </a>
            <a href="contact.html">Contact
                </a>
            </nav>
        </header>

        <div class="wrap">
            <div class="bg"></div>
            <main class="bert-main">

                <div id="klj-groot">

                </div>
                <div id="hoofdfoto">

                </div>
                <div id="comedy-groot">

                </div>

                <div id="bert-text">
                    <h1>Over mezelf</h1>
                    Ik ben Bert Paulussen, 22 jaar oud en woon in Oostmalle. <br>
                    Een beetje introvert, een beetje  zorgeloos maar boordevol interesses, creativiteit en een echte teamspeler.<br> <br>

                    
                    Ik ben Grafisch en Digitale Media student aan AP Hogeschool waar ik het het keuzetraject Crossmedia Ontwerp volg.<br>
                Dankzij mijn richting heb ik al heel wat ervaring met ontwerpsoftware als Adobe Photoshop, Illustrator, Indesign, After Effects, Cinema 4d en Premiere Pro opgedaan. Ik ben dol op de creativiteit die ik kan steken in mijn werk als grafisch ontwerper.
                Mijn grootste vaardigheid ligt echter bij webontwerp. Ik werk al enkele jaren extensief in html, css en javascript (en werk af en toe nog in jQuery). Sinds dit jaar leer ik ook met php werken. <br>
                Mijn grafische en webvaardigheden heb ik al regelmatig kunnen inzetten voor opdrachten aan lokale verenigingen en organisaties.  
                <br> <br> Momenteel zit ik 14 jaar in de KLJ van Oostmalle, waarvan 6 jaar als leiding. In de leidingsploeg neem ik de taak op van groepsverantwoordelijke, mede-organisator van Oostmal Rockt, bestuurslid van de jeugdraad en sinds kort leidt ik de gewestraad. Als leider weet ik hoe het is om in team te werken, initiatief te nemen en grote projecten te organiseren.  
                <br> <br>In mijn vrije tijd treed ik  ook regelmatig op als stand-up komiek en heb al deel genomen aan enkele competities waaronder Humo's Codemy Cup en de Humorklas van Radio 2. De laatste drie jaar heb ik het podium al mogen delen met een paar bekende comedians als Kamagurka, Lukas Lelie, Jerom Dewulf, Steven Mahieu en Bas Birker.

                </div>

                <div id="klj-klein">

                </div>
                <div id="comedy-klein">

                </div>
            </main>
        </div>

                <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
    </body>
    
</html>