<!doctype html>
<html>
    <head>
        
        <title>Contact</title>
        <link rel="shortcut icon" href="bertp-mini.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body class="contact-body">

        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html">Portfolio
                </a>
            <a href="bertzelf.html">Bert zelf
                </a>
            <a href="contact.html" class="page-active">Contact
                </a>
            </nav>
        </header>

        <div class="wrap">
            <div class="bg"></div>
            <main>
                
                <div class="contact-main">
                    <div class="contact-main-content">
                        <h3>Contact</h3>
                        <h4>Adres: </h4>
                        <p>Smekenstraat 28 <br> 2390 Malle</p>
                        <h4>Mobiel:</h4>
                        <p>0487 62 44 28</p>
                        <h4>E-mail: </h4>
                        <a href="mailto:bert.pauluss@gmail.com">bert.pauluss@gmail.com</a>

                        <h4>Sociale media:</h4>
                        <div class="contact-smlinks">
                            <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen">
                            </a>
                            <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                            <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                            <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                        </div>
                    </div>
                </div>





            </main>
        </div>
            
                <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
    </body>
    
</html>