<!doctype html>
<html>
    <head>
        
        <title>Portfoliosite Bert Paulussen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="bertp-mini.png">
        <link rel="stylesheet" type="text/css" 
        href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body class="index-body">
        
        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html">Portfolio
                </a>
            <a href="bertzelf.html">Bert zelf
                </a>
            <a href="contact.html">Contact
                </a>
            </nav>
        </header>
        
        <div class="wrap">
            <div class="bg"></div>
            <main class="index-main">
                <div class="uitleg">
                    <h1>Introductie</h1>
                    Ik ben een student Grafische en Digitale Media (keuzetraject Crossmedia Ontwerp) aan de AP Hogeschool van Antwerpen. 
                    <br><br>
                    Webdesign, grafisch ontwerp, logo's en huistijlen, flyers, affiches, animatie, editing, ...  
                    <br><br>
                    Met deze site wil ik een blik geven op het werk dat ik de afgelopen jaren heb leren maken.
                </div>
                
                <div id="home-WD">
                    <a href="webontwerp.html">
                        <span style="background-color:black; padding: 5px;">Webdesign</span></a>
                </div>

                <div id="home-GO">
                    <a href="grafischdesign.html"><span style="background-color:black; padding: 5px;">Grafisch Ontwerp</span></a>

                </div>

                <div id="home-LD">
                    <a href="layout.html"><span style="background-color:black; padding: 5px;">Layout & Drukwerk</span></a>

                </div>

                <div id="home-C4D">
                    <a href="cinema4d.html"><span style="background-color:black; padding: 5px;">After Effects & Cinema 4D</span></a>
                </div>

                <div id="home-more">
                    <a href="portfolio.html">Meer</a>
                </div>
                
                <div class="uitleg" id="uitleg-bzelf">
                    <h1>Over Bert</h1>
                    <p>Gegroet! Ik ben Bert Paulussen, 22 jaar oud en woon in Oostmalle. <br>
                    Een beetje introvert, een beetje  zorgeloos maar boordevol interesses, creativiteit en een echte teamspeler.</p>
                    <div>
                    </div>
                    <p>Ik ben Grafisch en Digitale Media student aan AP Hogeschool waar ik het het keuzetraject Crossmedia Ontwerp volg.
                Dankzij mijn richting heb ik al heel wat ervaring met ontwerpsoftware als Adobe Photoshop, Illustrator, Indesign, After Effects, Cinema 4d en Premiere Pro opgedaan. Ik ben dol op de creativiteit die ik kan steken in mijn werk als grafisch ontwerper.
                Mijn grootste vaardigheid ligt echter bij webontwerp. ... </p>
                    <a href="bertzelf.html">Bio</a>
                </div>
                
                <div id="uitleg-bzelf-foto">
                
                </div>
                
            </main>
        </div>    
        
        <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
        
    </body>
    
</html>