<!doctype html>
<html>
    <head>
        
        <title>Portfolio | Layout - Drukwerk</title>
        <link rel="shortcut icon" href="bertp-mini.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body>

        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html" class="page-active">Portfolio
                </a>
            <a href="bertzelf.html">Bert zelf
                </a>
            <a href="contact.html">Contact
                </a>
            </nav>
        </header>

        <div class="wrap">
            <div class="bg"></div>
            <main class="portf-main">

                <div class="portf-main-nav">
                    <a href="portfolio.html">
                        &#8678;
                    </a>
                    <a href="grafischdesign.html">
                        Grafisch design
                    </a>
                    <a href="webontwerp.html">
                        Webontwerp
                    </a>
                    <a href="#">
                        <span class="portf-main-nav-a">Layout-Drukwerk</span>
                    </a>
                    <a href="cinema4d.html">
                        After Effects & Cinema 4D
                    </a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Affiche-ATTS-klein.png);">
                    <a href="/Images/Affiche-ATTS.png" class="portf-titels">Filmposter</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Bluray-ATTS-klein.png);">
                <a href="/Images/Bluray-ATTS.png" class="portf-titels">Blu-ray hoes</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/site-ATTS-klein.jpg);">
                <a href="/Images/site-ATTS.jpg" class="portf-titels">Filmsite ontwerp</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/Disc-ATTS.png)">
                <a href="/Images/Disc-ATTS.png" class="portf-titels">Film-schijfje</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/FlyerHappyKids1718.jpg)"><a href="/Images/FlyerHappyKids1718.pdf" class="portf-titels">Drieluik folder voor Happy Kids Malle</a></div>

                <div class="portf-item" style="background-image: url(/Images/portefolioPB2.png)"><a href="/Images/1617_PB2_PaulussenB_Opdracht12.pdf" class="portf-titels">
                Portfolio Publishing 2</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/FlyerStartAct1718-1.png);"><a href="/Images/FlyerStartAct1718.pdf" class="portf-titels">
                KLJ - Affiche & Flyer Start-activiteit '17-'18</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/QuizFlyer.jpg);">
                    <a href="/Images/QuizFlyer.jpg" class="portf-titels">KLJ - Flyer Algemene Quiz</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/Opdracht11_Kadrage-1.jpg);">
                    <a href="/Images/Opdracht11_Kadrage.pdf" class="portf-titels">Opdracht Kadrage</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/AfficheStartdag1819.jpg);">
                    <a href="/Images/AfficheStartdag1819.pdf" class="portf-titels">KLJ - Affiche Startdag '18-'19</a>
                </div>

            </main>
        </div>
            
                <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
    </body>
    
</html>