<!doctype html>
<html>
    <head>
        
        <title>Portfolio | Webontwerp</title>
        <link rel="shortcut icon" href="bertp-mini.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style/reset.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/java.js"></script>
    </head>

    <body>

        <header>
        <a href="index.html" class="logo-link">
            <img src="/Images/bertp.png" class="logo">
            </a>
        
            <nav>
            <a href="portfolio.html" class="page-active">Portfolio
                </a>
            <a href="bertzelf.html">Bert zelf
                </a>
            <a href="contact.html">Contact
                </a>
            </nav>
        </header>

        <div class="wrap">
            <div class="bg"></div>
            <main class="portf-main">

                <div class="portf-main-nav">
                    <a href="portfolio.html">
                        &#8678;
                    </a>
                    <a href="grafischdesign.html">
                        Grafisch design
                    </a>
                    <a href="#">
                        <span class="portf-main-nav-a">Webontwerp</span>
                    </a>
                    <a href="layout.html">
                        Layout-Drukwerk
                    </a>
                    <a href="cinema4d.html">
                        After Effects & Cinema 4D
                    </a>
                </div>
                <div class="portf-item" style="background-image: url(/Images/sass.PNG);" >
                    <a href= "/WebOntwerp/1718_IT3_PaulussenBert_opdracht_week_7/index.html" class="portf-titels">Buzzfeed-like over SASS</a>
                </div>

                <div class="portf-item" style="background-image: url(/Images/wolf.PNG);">
                <a href="/WebOntwerp/1718_IT3_PaulussenB_opdracht_week_6/wolf.html" class="portf-titels">SVG-animatie met CSS</a></div>

                <div class="portf-item" style="background-image: url(/Images/taartdiagram.PNG);" >
                <a class="portf-titels" href="/WebOntwerp/1718_IT3_PaulussenBert_opdracht_week_8/index.html">Taartdiagram met CSS</a></div>
                
                <div class="portf-item" style="background-image: url(/Images/revealJs.PNG);">
                    <a href="/WebOntwerp/CMT3-Opdracht1/index.html" class="portf-titels">Presentatie in Reveal.js</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/AncientAmericanArt.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_3/index.html" class="portf-titels">Ancient American Art</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/VeryWell.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_1/index.html" class="portf-titels">"Very Well" by RandoWis</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/IndieRuff.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_2/index.html" class="portf-titels">Viral video-site (Work-in-progress)</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/KingOfKong.PNG);">
                    <a href="/WebOntwerp/1718_IT2_PaulussenBert_permanente_evaluatie_4/index.html" class="portf-titels">King Of Kong Highscores (ASCII Art)</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/Virus.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenB_Opdracht_10/index.html" class="portf-titels">Virus.exe</a>
                </div>
                
                <div class="portf-item" style="background-image: url(/Images/DeWarmsteWeek.PNG);">
                    <a href="/WebOntwerp/1718_IT3_PaulussenB__opdracht_week_12/index.html" class="portf-titels">Opdracht donatie-site voor goed doel</a>
                </div>
                
                
            </main>
        </div>
            
                <footer>
            <p class="footer-title">Gemaakt door Bert Paulussen | Student CMO op AP | 2018</p>
            <div class="footer-links">
                <div class="footer-nav">
                    <a href="index.html">Hoofdpagina</a>
                    <ul><a href="portfolio.html">Potfolio</a>
                        <li><a href="webontwerp.html">Webontwerp</a></li>
                        <li><a href="grafischdesign.html">Grafisch ontwerp</a></li>
                        <li><a href="layout.html">Layout & drukwerk</a></li>
                        <li><a href="cinema4d.html">After effects & Cinema4D</a></li>
                    </ul>
                    <a href="bertzelf.html">Bert zelf</a>
                </div>
                <div class="footer-contact">
                    <p class="footer-text"><a href="/views/contact.html">Contact</a></p>
                    <a style="background-image: url(/Images/Icons/icon-fb.png)" href="https://www.facebook.com/bert.paulussen"></a>
                    <a style="background-image: url(/Images/Icons/icon-yt.png)" href="https://www.youtube.com/channel/UCBDqJzhggPUVpxGhr2P47Qw?view_as=subscriber"></a> 
                    <a style="background-image: url(/Images/Icons/icon-li.png)" href="https://be.linkedin.com/in/bert-paulussen-5bbb08141"></a>
                    <a style="background-image: url(/Images/Icons/icon-gp.png)" href="https://plus.google.com/u/0/111459815502032948559?tab=qX"></a>
                </div>
            </div>
        </footer>
    </body>
    
</html>