.taartdiagram {
      margin:auto;
      margin-top: 60px;
	position: relative;
	height: 300px; 
      width: 300px;
    margin-bottom: 60px;
}

/* Gemeenschappelijke CSS regels voor elk onderdeel van het diagram */

.gemeenschappelijk {
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: 50%;
}

/* De buitenste rand van het diagram */

.rand { 
      border: 10px solid rgba(323, 75, 102,0.5); 
      top: -15px; 
      left: -15px; 
      width: 310px; 
      height: 310px; 
}

.randB { 
      border: 5px solid rgba(323, 75, 102,0.3); 
      top: -28px; 
      left: -28px; 
      width: 345px; 
      height: 345px; 
}

.randC { 
      border: 2px solid rgba(323, 75, 102,0.1); 
      top: -38px; 
      left: -38px; 
      width: 370px; 
      height: 370px; 
}

/* De binnenbasis van het diagram */

.basisschijf { 
      background-color: rgba(250, 128, 131,1); 
}

/* Gemeenschappelijke CSS regels voor elk punt van het diagram */

.punt {
      /* Bekijk dit: https://www.w3schools.com/cssref/pr_pos_clip.asp */
      clip: rect(0px, 150px, 300px, 0);
}


/* Elk punt bestaat uit een container en het punt zelf */

/* PUNT 1 */

.punt_1_container {
      /* met deze waarde positioneer je het punt op de cirkel */
	transform: rotate(130deg);
}

.punt_1 {
      /* met deze waarde geef je de procentuele grootte aan van de spie */
      /* 18% weergeven */
      /* Startpositie: 180°=50% => 1% = 3,6° => */
      /* 18 x 3,6° = 64,8° */
      /* Om 18° over te houden moeten we  180-64,8°=115,2 roteren */
          background-color: #74d3bf; 
      transform: rotate(122.4deg); 
      /* vendor prefixing staat wel op autprefixer in de settings!*/
}

/* PUNT 2 */

.punt_2_container {
      /* met deze waarde positioneer je het punt op de cirkel */
	transform: rotate(133.6deg);
}

.punt_2 {
      /* met deze waarde geef je de procentuele grootte aan van de spie */
      /* 5% weergeven */
      /* Startpositie: 180°=50% => 1% = 3,6° => */
      /* 5 x 3,6° = 18° */
      /* Om 5° over te houden moeten we  180-162° roteren */
	    background-color: #f8cc4f; 
	transform: rotate(176.4deg);
}

.punt_3_container {
	transform: rotate(74deg);
}

.punt_3 {
          background-color: #f06562; 
      transform: rotate(144deg); 
}

.punt_4_container {
	transform: rotate(38deg);
}

.punt_4 {
      background-color: ba6a8d;
      transform: rotate(70deg); 
}

.punt_5_container {
	transform: rotate(-72deg);
}

.punt_5 {
          background-color: #834864; 
      transform: rotate(90deg); 
}

.punt_6_container {
	transform: rotate(198deg);
}

.punt_6 {
          background-color: #f4eed8; 
      transform: rotate(115.7deg); 
}


/* Tot slot de labels */

p.label {
	font-family: helvetica; 
      text-align: right;
	position: absolute;
	border-bottom: 1px solid black;
	padding: 0px 0px 0px 60px;
	width: 140px;
      left: 250px;
}

.punt_1_label {
      top: 100px;
}

.punt_2_label {
      top: 171px;
    padding: 0px 20px 0px 0px;
}

p.punt_3_label {
      top: 20px;
      left: -145px;
      text-align: left;
      padding: 0px 100px 0px 0px; 
}

p.punt_4_label {
      top: 100px;
      left: -150px;
      text-align: left;
    width: 100px;
      padding: 0px 120px 0px 0px; 
}

p.punt_5_label {
     top: 30px;
}

p.punt_6_label {
      top: 225px;
      left: -150px;
      text-align: left;
      padding: 0px 180px 0px 0px; 
}


/* EIGEN CSS  */

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(https://i.pinimg.com/564x/71/10/18/71101823aaad22c2e1ae5d48e7774f21.jpg);
    background-color: #f3f1da;
    background-repeat: no-repeat;
    background-position: 10%;
    width: 80%;
    margin: auto;
    background-size: 650px;
    color: black;
}

main {
    width: 60%;
    background-color: rgba(255,255,255,0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 680px;
    margin-left: 40%;
    box-shadow: 3px 3px #f97d7d;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 70px;
    color: #f97d7d;
    text-shadow: 2px 2px white;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px white;
}

p {
    font-weight: bold;
    
}

#dyk {
    width: 94%;
    margin: auto;
}

li {
    list-style:none;
    line-height: 18px;
    margin-bottom: 18px;
}

li:before{
   content: '';
   display: inline-block;
   height: 15px;
   width: 15px;
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Red_Silhouette_-_Brain.svg/2000px-Red_Silhouette_-_Brain.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    margin-top: 15px;
    width: 100%;
    text-align: right;
    text-shadow: 2px 2px black;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    
    h1 {
        font-size: 40px;
        margin-top: 10px;
    }
    
    body {
        background-size: 50%;
        background-position: top;
    }
    
    h2 {
        font-size: 20px;
        margin: auto;
        width: 80%;
    }
    
    main {
        width: 100%;
        margin-left: 0%;
        margin-top: calc(40vw);
    }
    
        .taartdiagram {
        width: 150px;
        height: 150px;
        margin-bottom: 90px;
    }
    
    .punt {
      /* Bekijk dit: https://www.w3schools.com/cssref/pr_pos_clip.asp */
      clip: rect(0px, 75px, 150px, 0);
    }
    
    .rand { 
      border: 5px solid rgba(323, 75, 102,0.5); 
      top: -7.5px; 
      left: -7.5px; 
      width: 155px; 
      height: 155px; 
}

    .randB { 
      border: 3px solid rgba(323, 75, 102,0.3); 
      top: -14px; 
      left: -14px; 
      width: 170px; 
      height: 170px; 
}

    .randC { 
      border: 1px solid rgba(323, 75, 102,0.1); 
      top: -17px; 
      left: -17px; 
      width: 182px; 
      height: 182px; 
}
    
        p.label {
	color: #385a61; 
	padding: 0px 0px 0px 20px;
	width: 100px;
      left: 125px;
        font-size: 10px;
}

.punt_1_label {
      top: 40px;
    
}

.punt_2_label {
    top: 89px;
    padding: 0px 0px 0px 0px;
}

p.punt_3_label {
      top: 0px;
      left: -60px;
      text-align: left;
      padding: 0px 20px 0px 0px; 
}

p.punt_4_label {
      top: 50px;
      left: -120px;
      text-align: left;
      padding: 0px 50px 0px 0px; 
}

p.punt_5_label {
     top: 5px;
}

p.punt_6_label {
      top: 110px;
      left: -100px;
      padding: 0px 90px 0px 0px; 
}
    
}

@media screen and (max-width: 1150px) { 

    main {
        margin-left: 0%;
        margin-top: 25px;
        min-width: inherit;
        width: 100%;
    }
    

    
    body {
        background-size: cover;
    }
    

}